
/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


:root {
  --hero-bg-color: #f7ebda;
  --primary-color: #ff902a;
  --secondary-color: #2f2105;
  --border-color: #f9d9aa;
  --black-color: #000000;
  --white-color: #ffffff;
  --light-gray-color: #7e7d7a;
}
* {
  font-family: "Poppins" sans-serif;
  font-style: normal;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

/* NAVIGATION BAR */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--hero-bg-color);
  padding: 20px 50px;
}

.nav--links {
  list-style: none;
  display: flex;
  gap: 50px;
}
.nav--link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 27px;
  color: var(--black-color);
}
.active {
  color: var(--primary-color);
}
.nav--end {
  display: flex;
  align-items: center;
  gap: 120px;
}

.search--bar--container {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: var(--white-color);
  border-radius: 35px;
}

.search--bar--container img {
  margin-left: 10px;
}

.search--bar--container input {
  background-color: var(--white-color);
  padding: 10px;
  border-radius: 35px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  border: none;
  color: #929292;
}

.nav--cart {
  position: relative;
}
.eclipse {
  position: absolute;
  right: -6px;
  top: 0px;
  background: var(--primary-color);
  border: var(--white-color);
  width: 10px;
  height: 10px;
  border-radius: 6px;
  z-index: 40;
  animation: dotPulse 1.5s ease-in-out infinite;
}
@keyframes dotPulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* HERO SECTION */
.hero--top--bg--image {
  position: absolute;
  right: -470px;
  top: -205px;
  width: 1040px;
  animation: bounce 3s infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.hero {
  background-color: var(--hero-bg-color);
  display: flex;
  justify-content: space-between;
  height: auto;
  position: relative;
  padding: 20px 100px 300px 150px;
}
.first--hero--section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 20px;
}
.second--hero--section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero--main--image {
  background: var(--secondary-color);
  background-image: url("../src/assets/hero_coffee_img.png");
  background-position: center;
  border-radius: 300px;
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  position: relative;
}

.hero h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 70px;
  color: var(--secondary-color);
}
.hero h1 span {
  color: var(--primary-color);
}
.hero p {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: var(--light-gray-color);
}

.order--btn {
  background: var(--secondary-color);
  width: 170px;
  height: 50px;
  box-shadow: 0px 4px 32px rgba(223, 195, 124, 0.25);
  border-radius: 33px;
  color: var(--white-color);
  animation: orderNow 3s ease-in-out infinite;
}
@keyframes orderNow {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}
.order--btn:hover {
  background-color: var(--light-gray-color);
  border: none;
}
.order--btn img {
  padding: 7px;
}

.first--hero--section--bottom {
  display: flex;
  gap: 20px;
}
.more--menu {
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 18px;
  color: var(--primary-color);
}

.underline {
  border-bottom: 5px solid var(--primary-color);
}

.second--hero--section .coffee--name,
.price,
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  position: absolute;
  height: 80px;
  letter-spacing: 0.04em;
  border: 5px solid rgba(0, 0, 0, 0.5);
  background-color: var(--white-color);
  color: var(--secondary-color);
  border-radius: 42px;
  z-index: 1;
}

.second--hero--section .coffee--name {
  filter: drop-shadow(-2px 19px 32px rgba(48, 45, 38, 0.19));
  width: 280px;
  right: 390px;
  top: 115px;
  color: var(--secondary-color);
}
.second--hero--section .price {
  width: 155px;
  right: 490px;
  top: 361px;
  filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.16));
}

.second--hero--section .rating {
  width: 183.48px;
  right: 73px;
  top: 168px;
}
.second--hero--section .rating img {
  width: 24px;
  height: 24px;
  margin-left: 4px;
  animation: rotate 2s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hero--bottom--bg--image {
  position: absolute;
  bottom: -30px;
  left: 40px;
}

/* POPULAR NOW  */

.popular--now--container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9d9aa;
  border-radius: 64px;
  height: 367px;
  left: 4%;
  top: -80px;
  width: 90%;
}
.popular--now--items--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  z-index: 3;
  top: -50%;
}
.popular--text {
  align-self: flex-start;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #000000;
}
.popular--now--items {
  display: flex;
  align-items: center;
  gap: 2%;
}

.card--container {
  filter: drop-shadow(10px 10px 32px rgba(0, 0, 0, 0.25));
  width: 355px;
  height: 385px;
  background-color: var(--white-color);
  border-radius: 20px;
}
.card--image {
  margin: 20px;
  width: 307px;
  height: 226px;
  border-radius: 12px;
  object-fit: cover;
}
.fav--container {
  position: absolute;
  top: 30px;
  left: 30px;
  background: #ffffff;
  border-radius: 50px;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--secondary-color);
  /* border: 4px solid rgb(201, 196, 196); */
  border: 4px solid rgba(0, 0, 0, 0.25);
}
.card--container .fav--container {
  width: 70px;
  height: 34px;
}
.card--fav--icon {
  margin: 0 0 5px 5px;
  animation: rotate 2s infinite linear;
}
.product--info {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.04em;
  color: #2f2105;
}
.product--bottom--details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.coffee--state {
  display: flex;
  gap: 15px;
  padding: 10px 40px;
}
.coffee--state--selected,
.coffee--state--btn {
  border-radius: 8px;
  width: 64px;
  height: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
}
.coffee--state--btn {
  border: 2px solid #ffd28f;
  color: #ffd28f;
}
.coffee--state--selected {
  color: #ff912b;
  border: 2px solid #ff912b;
}
.product--cart {
  margin-right: 40px;
  border-radius: 64px;
  background-color: var(--primary-color);
  cursor: pointer;
}

/* DELIVERY SECTION */
.delivery--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.delivery--container h2 {
  align-self: center;
}
.delivery--container--items {
  display: flex;
  gap: 200px;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
}

.delivery--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.delivery--container--items h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.04em;
  color: var(--secondary-color);
}
.delivery--container--items h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.04em;
  color: var(--secondary-color);
}

/* ABOUT SECTION */

.about--container {
  background-image: url("../src/assets/bg-image.png");
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
  position: relative;
  margin-top: 300px;
    padding-bottom: 30px;

}

.about--image {
  filter: drop-shadow(0px 6px 16px rgba(8, 8, 8, 0.16));
  margin-top:-100px ;
}

.about--text {
  text-align: left;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #000000;
}
.about--info {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  width: 40%;
  height: auto;
}
.about--info h3,
h4 {
  text-align: left;
}
.about--info h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.04em;
  color: #7e7d7a;
  text-align: left;
}
.about--btn {
  padding: 20px 24px;
  background: var(--secondary-color);
  border-radius: 33px;
  width: 180px;
  height: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #f4ae26;
}
.about--btn:hover {
  background-color: var(--white-color);
  color: var(--black-color);
  border: none;
}

/* SPECIAL MENU SECTION */
.special--menu--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 50px 0;
}
.special--menu--container h2 {
align-self: center;
}

.special--menu--items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  padding-left: 50px;
}
.desc {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #7e7d7a;
  padding: 0 40px;
}
/* TESTIMONIAL SECTION */

.testimonial--container {
  background-image: url("../src/assets/bg-image.png");
  width: 80%;
  height: auto;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 5% 0;
  border-radius: 0 20px 20px 0;
  background-position: center;
  background-size: cover;
}

.testimonial--content--container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 30px;
}
.testimonial--heading {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.03em;
  color: var(--black-color);
}
.testimonial--content--container p {
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  color: #7e7d7a;
}

.testimonial--container--items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin-right: -200px;
}
.testimonial--details--card--container {
  position: relative;
  width: 100%;
}
.testimonial--card--image {
  width: 226.5px;
  height: 330px;
  border: 6px solid rgba(255, 211, 145, 0.62);
  object-fit: cover;
}
.testimonial--card--details {
  position: absolute;
  background: #ffcb7c;
  border: 6px solid #dfbc884d;
  border-radius: 8px;
  width: 100%;
  height: auto;
  padding: 6px;
  left: 20%;
  bottom: 8%;
}
.testimonial--card--details h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.04em;
  color: var(--secondary-color);
}
.testimonial--card--details p {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: var(--secondary-color);
}

/* NEWSLETTER SECTION */
.newsletter {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter--container {
  background-image: url("../src/assets/newsletter-images/bottom_bg-image.png");
  width: 1170px;
  height: 392px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.subscription--text {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.newsletter--bottom {
  position: relative;
}
.newsletter--container input {
  width: 488px;
  height: 58px;
  background: #ffffff;
  border-radius: 42px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #7e7d7a;
  padding: 20px;
}
.newsletter--container button {
  position: absolute;
  background: #2f2105;
  box-shadow: 0px 4px 32px rgba(223, 195, 124, 0.25);
  border-radius: 33px;
  padding: 15px 32px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  position: absolute;
  left: 72%;
  top: 4.5%;
}
.newsletter--container button:hover {
  background-color: var(--light-gray-color);
  border: none;
}

/* === MEDIA QUERY FOR VARIOUS SCREENS === */
@media screen and (max-width: 1250px) {
  .nav--links {
    gap: 20px;
  }
  .nav--link {
    font-size: 18px;
    line-height: 24px;
  }
  .nav--end {
    gap: 80px;
  }
  .hero--top--bg--image {
    top: -245px;
  }
  .hero {
  padding: 20px 100px 300px 50px;
}
  .popular--now--container .card--container {
    width: 300px;
    height: 335px;
  }
  .popular--now--container .card--image {
    width: 247px;
    height: 187px;
    border-radius: 10px;
  }
  .product--info {
    padding: 0 30px;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 0.02em;
  }
  .popular--now--container .product--bottom--details {
    margin-top: 7px;
  }
  .popular--now--container .coffee--state {
    gap: 12px;
    padding: 7px 30px;
  }
  /* .popular--now--container .coffee--state--selected,
  .coffee--state--btn {
    border-radius: 7px;
    width: 44px;
    height: 24px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.02em;
  } */

  .testimonial--container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10%;
  }
  .testimonial--container--items {
    margin-left: -20%;
  }
  .special--menu--items {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1100px) {
  .navbar {
    background-color: #f5f5f5;
    position: fixed;
    z-index: 40;
    width: 100%;
  }

  .nav-menu li {
    list-style: none;
  }

  .nav-toggle {
    cursor: pointer;
  }

  .close-icon {
    display: none; /* Hide the close icon by default */
  }

  .nav-open .nav-toggle .bars-icon {
    display: none; /* Hide the bars icon when navigation is open */
  }

  .nav-open .nav-toggle .close-icon {
    display: block; /* Show the close icon when navigation is open */
  }

  .nav-menu {
    display: none; /* Hide the nav menu by default */
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
  }

  .nav-open .nav-menu {
    display: flex; /* Show the nav menu when navigation is open */
  }
  .logo {
    padding: 0px;
  }

  .search--bar--container input {
    padding-right: 30px;
  }
  .nav--cart {
    right: 5%;
  }
.rating,
  .price,
  .coffee--name,
  .hero--main--image,
  .second--hero--section .coffee--name {
    display: none;
  }
  .hero {
    padding: 100px 0px 300px 70px;
  }
  .second--hero--section .coffee--name {
    right: 250px;
    top: 184px;
  }
  .second--hero--section .price {
    right: 390px;
    top: 443px;
  }

  .second--hero--section .rating {
    right: 0px;
    top: 198px;
  }
  
}

/* TABLET MODE  */

@media screen and (max-width: 960px) {
  .hero {
    padding: 100px 0px 400px 70px;
  }
  
  .hero--top--bg--image {
    right: -60%;
    top: -275px;
  }
  .hero--bottom--bg--image {
    display: none;
  }

  .hero p {
    font-size: 22px;
    line-height: 30px;
  }
  .first--hero--section {
    gap: 30px;
  }
  .first--hero--section--bottom {
    gap: 40px;
  }
  .product--info {
    display: flex;
    padding: 0 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.04em;
  }

  
  .slider--container .popular--text {
    position: absolute;
    left: 15%;
    top: 76%;
  }

  .carousel {
    position: relative;
    top: -247px;
    z-index: 3;
  }

  @keyframes breathing {
    0% {
      color: var(--primary-color); /* Initial color */
    }
    50% {
      color: var(--secondary-color); /* Intermediate color */
    }
    100% {
      color: var(--primary-color); /* Return to initial color */
    }
  }

  .popular--now--items .product--info{
    
    padding: 0 20px;
  
  }
  .delivery--container .popular--text {
    margin-top: -150px;
  }
   .delivery--container{
    margin: 150px 0;
  }
  .delivery--container--items {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  .about--image {
    position: relative;
    bottom: 140px;
    object-fit: contain;
  }
  .about--container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .about--info {
    width: 100%;
    margin: 0;
    align-items: center;
    padding: 30px;
  }

  .about--text {
    padding: 20px;
    font-size: 40px;
    line-height: 1rem;
  }
  .about--info h3 {
    font-weight: 600;
    font-size: 24px;
  }
  .about--info h4 {
    font-size: 20px;
    line-height: 25px;
  }
  .special--menu--items {
    display: flex;
    flex-direction: column;
  }
  .desc {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
  }
  .testimonial--container {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    align-items: center;
    height: 1400px;
    width: 100%;
    gap: 20px;
  }
  .testimonial--content--container {
    margin-top: 0px;
    width: 90%;
  }
  .testimonial--heading {
    font-size: 34px;
    line-height: 48px;
  }
  .testimonial--content {
    font-weight: 500;
    font-size: 20px;
  }

  .testimonial--container--items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0;
  }

  .testimonial--card--image {
    width: 226.5px;
    height: 330px;
  }
  .testimonial--card--details {
    width: 226.5px;
    height: 120px;
    padding: 10px;
    margin: -140px 0 0 40px;
  }
  .testimonial--card--details h5 {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.04em;
  }
  .testimonial--card--details p {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.04em;
  }
  .newsletter--container {
    width: 100%;
    margin: 100px 0 0 -30px;
  }
  .subscription--text {
    text-align: center;
    padding: 0px 30px;
  }
}
@media screen and (max-width: 900px) {
  .carousel{
    margin-left: 250px;
  }
  .slider--container .popular--text{
    margin-top: -240px;
    margin-left: 140px;
  }
}
@media screen and (max-width: 780px) {
  .hero--top--bg--image{
    display: none;
  }
  .carousel{
    margin-left: 0px;
  }
 .slider--container .popular--text{
    margin-left: 0px;
  }
}

/* SMALLER DEVICES */

@media screen and (max-width: 540px) {
  .navbar {
    padding: 10px;
  }
  .popular--bg--image,
  .hero--top--bg--image {
    display: none;
  }
  .special--menu--container h2,
  .delivery--container h2,
  .popular--text,
  .testimonial--container h3 {
    font-size: 25px;
  }
  .popular--now--container .popular--text {
    margin-top: 0px;
    text-align: center;
  }
  .first--hero--section {
    padding-right: 10px;
  }

  .delivery--container--items,
  .special--menu--items {
    padding-left: 0;
  }
  .about--container {
    margin: 300px 0px;
  }
  .about--image {
    left: 0;
  }
  .about--info {
    width: 100%;
    margin: 0;
    align-items: center;
    padding: 30px;
  }
  .about--info h3 {
    line-height: 30px;
  }
  .about--info h4,
  .testimonial--content--container p {
    font-size: 16px;
    line-height: 30px;
  }
  .about--btn {
    padding: 15px 24px;
    height: auto;
  }

  .special--menu--container {
    margin-top: -250px;
  }
  .testimonial--container--items {
    margin-right: 60px;
  }
  .newsletter--container button {
    position: static;
  }
  .newsletter--bottom {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .newsletter--container input {
    width: 100%;
  }
}
@media screen and (max-width: 415px) {
  .nav--cart {
    right: 1%;
  }

  .first--hero--section {
    gap: 10px;
  }
  .hero h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
  }
  .hero p {
    font-size: 16px;
    line-height: 20px;
  }
  .first--hero--section--bottom {
  gap: 10px;
}
  .order--btn {
    width: 140px;
    height: 50px;
  }
 .more--menu {
  font-size: 15px;
}
  .slider--container .popular--text{
  margin-top: -260px;
  }
   .about--image{
    width: 80%;
    left: 30px;

  }
 .testimonial--heading{
  line-height: 36px;
 }
 .testimonial--container{
  padding-top: 0;
 }
.testimonial--content--container{
  padding-left: 0;
}
.testimonial--content--container p{
  line-height: 25px;
}
  .delivery--container,
  .about--container,
  .special--menu--container {
    padding: 20px;
  }
  .newsletter--bottom{
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 375px) {
  .slider--container .popular--text{
  margin-top: -100px;
  }
  .special--menu--container h2,
  .delivery--container h2,
  .popular--text,
  .testimonial--container h3 {
    font-size: 20px;
  }
 
}
